body
    color white
    background-color #222
    background #222 url(/img/txture.png) top left repeat
    font-family 'Raleway', sans-serif

nav
    width 1200px
    margin auto
    a
        display inline-block
        color white
        text-decoration none
        padding 0.25em
        margin 0.25em 1em 0.25em 0
        border-bottom 2px solid transparent
        -webkit-transition border-color 0.4s
        &:hover
            border-bottom 2px solid white

h1
    text-align center
    font-family 'Allura', sans-serif
    font-size 48pt
    margin 0 0 -0.8em 0

.article
    h1
        text-align left
        margin 0 0 0.25em 0
    h3
        border none
    blockquote
        float none
        margin 2em auto
        border-radius 7px
        border-bottom 2px solid grey
    p
        color #ccc
    img
        display block
        margin 1.5em auto
        padding 0.5em
        border 1px solid rgba(255, 255, 255, 0.1)

.contra-block
    h3
        background rgba(255, 255, 255, 0.1)
        padding 0.5em
        border-radius 7px

h2
    clear both

h2 a, h3 a
    opacity 0

h2 a.btn
    opacity 1

h2:hover a, h3:hover a
    opacity 1
    text-decoration none
    transition opacity 0.3s

h3
    font-size 100%
    padding-bottom 6px
    border-bottom 1px solid rgba(255, 255, 255, 0.1)

a
    color lightblue

input
    padding 0.5em
    margin 0.5em 0
    border none
    border-radius 3px

blockquote
    float left
    color #aaa
    position relative
    background rgba(255, 255, 255, 0.05)
    font-size 10pt
    padding 1em 1em 1em 2em
    margin 1em
    border-radius 7px
    max-width 524px
    &:before
        content '“'
        font-size 72pt
        font-family sans-serif
        position absolute
        top -12px
        left 6px
        opacity 0.2
    &:after
        content '”'
        font-size 72pt
        font-family sans-serif
        position absolute
        right 6px
        bottom -58px
        opacity 0.2
    &.science
        border-bottom 2px solid seagreen
    &.violence
        border-bottom 2px solid crimson
    &.misogyny
        border-bottom 2px solid hotpink
    &.homosexual
        border-bottom 2px solid darkviolet
    &.poll
        border-bottom 2px solid steelblue
    div
        text-align right
        padding 0em 1em 0em 1em

.article em, .article strong
    color white

pre
    code
        display block
        padding 12px
        background rgba(255, 255, 255, 0.1)
        border-radius 7px
        border-bottom 2px solid #aaa

.book-panel
    a
        display block
        padding 0
        text-align center

rect
    stroke none
    fill steelblue
    transition fill 0.3s
    &:nth-child(even)
        fill #3F75A2
    &:hover
        cursor pointer
        fill lightblue
        transition fill 0.3s
    &.science-chart
        fill seagreen
        &:hover
            fill #6DAE89
    &.violence-chart
        fill crimson
        &:hover
            fill #E65B77
    &.misogyny-chart
        fill hotpink
        &:hover
            fill #FF96CA
    &.homosexual-chart
        fill darkviolet
        &:hover
            fill #B44DE0
    &.nt
        opacity 0.5
    &.selected
        fill white

text
    fill white
    stroke white
    font-size 24pt

.clear
    clear both

.btn
    display inline-block
    padding 1em
    color white
    background crimson
    border-radius 7px
    text-decoration none
    text-shadow -1px -1px 0px rgba(0, 0, 0, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.3)
    box-shadow 1px 1px 3px rgba(0, 0, 0, 0.5)
    transition background-color 0.3s

    &:hover
        background lighten(crimson, 15%)

.btn-small
    padding 0.5em
    font-size 70%
    border-radius 5px

.context
    max-width 18px
    white-space nowrap
    overflow hidden
    transition max-width 0.5s

    .label
        display none

    &:hover
        max-width 150px

        .label
            display inline-block

.arc
    path
        stroke crimson
        stroke-width 1
        fill none
    &:hover
        path
            cursor pointer
            stroke pink !important

.filters
    position absolute
    opacity 0.5
    label
        display inline-block
        width 60px
    select
        display inline-block
        position relative
        width 120px
        bottom 2px
        margin-bottom 4px

.axis, .axis path, .axis line
    fill none
    stroke #262626
    shape-rendering crispEdges

.axis
    text
        fill #555
        stroke none
        font-family sans-serif
        font-weight normal
        font-size 7pt
        shape-rendering crispEdges

.piechart
    stroke #222
    path
        &:hover
            cursor pointer

.subdued
    opacity 0.5

.block
    float left
    background rgba(255, 255, 255, 0.1)
    width 252px
    padding 12px
    margin 12px
    border-radius 7px
    border-bottom 2px solid grey

.books
    text-align center
    a
        display inline-block
        margin-right 18px

.poster
    float left
    width 400px
    padding-right 60px

    &:first-child
        padding-left 10em

    img
        padding-right 1em

    h4, h5
        margin-top 0
        padding-top 0

.left
    float left

.right
    float right

.quarter
    width 20%

.threequarters
    width 78%

#container, .container
    width 1200px
    margin auto

#social
    text-align center
    margin 1em
    .spacer
        display inline-block
        width 24px

.contradictionsTable
    font-size 7pt
    margin-top 24px
    margin-bottom 24px
    td
        width 300px
    a
        text-decoration none

textarea
    padding 1%
    border-radius 6px

#translations
    textarea
        width 46%
        height 26px
        margin-bottom 1em

        &:first-child
            margin-right 24px

.languageLinks
    text-align center
    margin 1em 0

    a
        margin 0.2em 0.5em

#feedButton
    display inline-block
    padding 0.25em 0.5em
    color white
    background-color steelblue
    text-decoration none
    border darken(steelblue, 30%)
    border-radius 3px

#footer, .footer
    text-align center
    opacity 0.4

#selected
    position fixed
    top 20px
    right 20px
    width 400px
    background rgba(255, 255, 255, 0.1)
    padding 12px
    border-radius 7px
    opacity 0
    text-shadow 1px 1px 1px rgba(0, 0, 0, 0.5)

#donate
    position fixed
    bottom 0px
    right 12px
    padding 0.5em 1em
    color white
    background rgba(0, 0, 0, 0.5)
    text-decoration none
    border-top-right-radius 7px
    border-top-left-radius 7px
    transition box-shadow 0.5s
    &:hover
        box-shadow 0px 0px 7px rgba(255, 255, 255, 1.0)
        transition box-shadow 0.5s

#filter-notice, #contra-notice
    position absolute
    background rgba(255, 255, 255, 0.2)
    padding 12px
    border-radius 7px
    opacity 0
    text-shadow 1px 1px 1px rgba(0, 0, 0, 0.5)

#filter-notice
    top 112px
    left 50%
    margin-left -400px

#contra-notice
    top 260px
    left 50%
    width 210px
    margin-left -105px
