body
    margin 3em 0
    width 1396px

nav
    display none

h1
    margin-top 0px !important

blockquote
    &:before
        top 0px

#contradictionsTable
    font-size 5pt

#footer
    display none

#donate
    display none
