<!DOCTYPE html>

<html lang="{{ lang }}" itemscope itemtype="http://schema.org/Article">
    <head>
        <title>{% block title %}{{ _(page.title) }}{% endblock %}</title>

        <meta charset="utf-8"/>
        <meta name="description" content="{{ page.metadata.description }}"/>

        <meta property="og:title" content="{{ _(page.title) }}"/>
        <meta property="og:description" content="{{ _(page.metadata.description) }}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:image" content="{{ page.metadata.image }}"/>
        <meta property="og:url" content="{{ page.url }}"/>
        <meta property="fb:admins" content="65903256"/>

        <meta property="twitter:card" content="overview"/>
        <meta property="twitter:title" content="{{ _(page.title) }}"/>
        <meta property="twitter:description" content="{{ _(page.metadata.description) }}"/>
        <meta property="twitter:image" content="{{page.metadata.image }}"/>
        <meta property="twitter:url" content="{{ page.url }}"/>

        <meta itemprop="name" content="{{ _(page.title) }}"/>
        <meta itemprop="description" content="{{ _(page.metadata.description) }}"/>
        <meta itemprop="image" content="{{ page.metadata.image }}"/>

        <link rel="shortcut icon" href="/img/favicon.ico"/>
        <link rel="author" href="https://plus.google.com/u/0/117442582930902051362"/>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Allura|Raleway"/>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
        <link rel="stylesheet" type="text/css" href="/styles/main.css?v=5"/>
        {% for style in page.metadata.styles or [] %}
            <link rel="stylesheet" type="text/css" href="{{ style }}"></script>
        {% endfor %}

        <link rel="alternate" type="application/atom+xml" title="Blog" href="/atom.xml" />
    </head>
        
    <body>
        {% block header %}
            <nav>
                <div class="container">
                    <a href="{{ '/index.html' | langUrl(lang) }}">{% trans %}Home{% endtrans %}</a>
                    <a href="{{ env.getArticles(contents)[0].url }}">{% trans %}Blog{% endtrans %}</a>
                    <a href="http://www.zazzle.com/bibviz*" target="_blank">{% trans %}Store{% endtrans %}</a>
                    {% if page.metadata.translated %}
                        <i class="icon-comments"></i>
                        <select id="langSelect">
                            {% for name in env.langNames %}
                                <option value="{{ env.langCodes[loop.index0] }}" {% if lang == env.langCodes[loop.index0] %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                            <option disabled>———————</option>
                            <option value="new">{% trans %}New translation{% endtrans %}</option>
                        </select>
                    {% endif %}
                </div>
            </nav>
            <div class="sep"></div>
        {% endblock %}
        <div id="container">
            {% block content %}
                {% md page.markdown %}
            {% endblock %}
            <div id="footer">
                {% block footer %}{% endblock %}
                {% if page.metadata.translated %}
                    <div class="languageLinks">
                        {% for name in env.langNames %}
                            <a href="{{ page.url | langUrl(env.langCodes[loop.index0]) }}">{{ name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% trans %}Website and chart code copyright &copy; 2013 Daniel G. Taylor.{% endtrans %}
                <br/><br/>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
                    <img alt="Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/>
                </a>
                <br/><br/>
                <a href="https://www.digitalocean.com/?refcode=1da202e90785">
                    <img src="/img/digitalocean-badge-white.png", alt="Proudly hosted by Digital Ocean"/>
                </a>
                <br/>
                <span style="font-size: 60%;">{% trans %}Use coupon <em>OMGSSD10</em> for $10 free!{% endtrans %}</span>
                <br/><br/>
            </div>
            <a id="donate" href="https://spb.io/0rgLYyRkJK">
                <i class="icon-credit-card"></i> {% trans %}Donate{% endtrans %}
            </a>
        </div>
        {% block scripts %}{% endblock %}
        {% for script in page.metadata.scripts or [] %}
            <script src="{{ script }}" charset="utf-8"></script>
        {% endfor %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-16567764-5', 'bibviz.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>
