body {
    color: white;
    background-color: #222;
    background: #222 url(/txture.png) top left repeat;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Allura', sans-serif;
    font-size: 48pt;
    margin: 0 0 -0.8em 0;
}

h2 a, h3 a {
    opacity: 0;
}

h2:hover a, h3:hover a {
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.3s;
}

h3 {
    font-size: 100%;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

a {
    color: lightblue;
}

blockquote {
    float: left;
    color: #aaa;
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    font-size: 10pt;
    padding: 1em 1em 1em 2em;
    margin: 1em;
    border-radius: 7px;
    max-width: 524px;
}

blockquote:before {
    content: '“';
    font-size: 72pt;
    font-family: sans-serif;
    position: absolute;
    top: -12px;
    left: 6px;
    opacity: 0.2;
}

blockquote:after {
    content: '”';
    font-size: 72pt;
    font-family: sans-serif;
    position: absolute;
    right: 6px;
    bottom: -58px;
    opacity: 0.2;
}

blockquote.science {
    border-bottom: 2px solid seagreen;
}

blockquote.violence {
    border-bottom: 2px solid crimson;
}

blockquote.misogyny {
    border-bottom: 2px solid hotpink;
}

blockquote.homosexual {
    border-bottom: 2px solid darkviolet;
}

blockquote.poll {
    border-bottom: 2px solid steelblue;
}

blockquote div {
    text-align: right;
    padding: 0em 1em 0em 1em;
}

rect {
    stroke: none;
    fill: steelblue;
    transition: fill 0.3s;
}

rect:nth-child(even) {
    fill: #3F75A2;
}

rect:hover {
    cursor: pointer;
    fill: lightblue;
    transition: fill 0.3s;
}

rect.science-chart {
    fill: seagreen;
}

rect.science-chart:hover {
    fill: #6DAE89;
}

rect.violence-chart {
    fill: crimson;
}

rect.violence-chart:hover {
    fill: #E65B77;
}

rect.misogyny-chart {
    fill: hotpink;
}

rect.misogyny-chart:hover {
    fill: #FF96CA;
}

rect.homosexual-chart {
    fill: darkviolet;
}

rect.homosexual-chart:hover {
    fill: #B44DE0;
}

rect.nt {
    opacity: 0.5;
}

rect.selected {
    fill: white;
}

text {
    fill: white;
    stroke: white;
    font-size: 24pt;
}

.clear {
    clear: both;
}

.arc {
    stroke: crimson;
    stroke-width: 1;
    fill: none;
}

.arc:hover {
    cursor: pointer;
    stroke: pink;
    /*transition: stroke 0.1s;*/
}

.filters {
    position: absolute;
    opacity: 0.5;
}

.filters select {
    display: inline-block;
    position: relative;
    bottom: 2px;
}

.axis path, .axis line {
    fill: none;
    stroke: #303030;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #555;
    stroke: none;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 7pt;
    shape-rendering: crispEdges;
}

.piechart {
    stroke: #222;
}

.piechart path:hover {
    cursor: pointer;
}

.subdued {
    opacity: 0.5;
}

.block {
    float: left;
    background: rgba(255, 255, 255, 0.1);
    width: 252px;
    padding: 12px;
    margin: 12px;
    border-radius: 7px;
    border-bottom: 2px solid grey;
}

.books {
    text-align: center;
}

.books a {
    display: inline-block;
    margin-right: 18px;
}

#container {
    width: 1200px;
    margin: auto;
}

#social {
    text-align: center;
    margin: 1em;
}

#social .spacer {
    display: inline-block;
    width: 24px;
}

#contradictionsTable {
    font-size: 7pt;
    margin-top: 24px;
    margin-bottom: 24px;
}

#contradictionsTable td {
    width: 300px;
}

#contradictionsTable a {
    text-decoration: none;
}

#footer {
    text-align: center;
    opacity: 0.4;
}

#selected {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 7px;
    opacity: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#donate {
    position: fixed;
    bottom: 0px;
    right: 12px;
    padding: 0.5em 1em;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    transition: box-shadow 0.5s;
}

#donate:hover {
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 1.0);
    transition: box-shadow 0.5s;
}
